################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hash/.vs/hash/v16/Server/sqlite3
/hash/.vs/hash/v16
/hash/hash.sln
/hash/hash-puzzle/hash-puzzle.csproj
