################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hash/.vs/hash/v16/Server/sqlite3
